$glob-grid-gap: 20px;

@import './fonts.scss';
@import './styles/container.scss';
@import './styles/buttons/rounded-btn.scss';
@import './styles/header/header.scss';
@import './styles/header/header-navigation.scss';
@import './styles/switch/switch.scss';
@import './styles/buttons/circle-btn-slider.scss';
@import './styles/gallery.scss';
@import './styles/form/default-form.scss';

@import './styles/main/section-order.scss';
@import './styles/main/section-benefits.scss';
@import './styles/main/section-why.scss';
@import './styles/main/section-buy-online.scss';
@import './styles/main/section-taste.scss';
@import './styles/main/section-interier.scss';
@import './styles/main/section-reviews.scss';
@import './styles/main/section-faq.scss';
@import './styles/main/section-footer.scss';
@import './styles/footer/footer.scss';

*{
  box-sizing: border-box;
}

html, 
body{
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p,a{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

//theme

body{
  --color-secondary: rgba(75, 75, 75, 1);
  --color-secondary-light: #C4C4C4;
  --color-secondary-dark: rgba(131, 131, 131, 1);
  --color-primary: rgba(0, 69, 119, 1);
  --color-primary-light: #67A5C8;
  --color-primary-dark: #111121;
  --color-glass-light: #DCF1FE;
  --color-background: #ffffff;
  --color-black-white: #000;
}

body.dark{
  --color-black-white: #fff;
}