$header-height: 100px;

.header-saver{
  height: $header-height;
  width: 100%;
}
.main-header{
  position: fixed;
  z-index: 1;
  height: $header-height;
  width: 100%;

  display: flex;
  align-items: center;

  background-color: transparent;
  transition: background-color 0.5s, box-shadow 1s;
  box-shadow: 0 0 2px 4px rgba(0,0,0,0);
  
  &.flow{
    box-shadow: 0 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
  }

  .container{
    display: flex;
    align-items: center;
  }

  .logo{
    width: calc(100% / 12 * 2);
    margin-right: $glob-grid-gap;
    img{
      width: 150px;
    }
  }
  .links{
    margin-left: calc(100% / 12 * 2);
    width: calc(100% / 12 * 6);
  }
  .controls{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }
}