.circle-btn-slider{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1.5px solid var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: border 0.1s;
  &:hover{
    border: 3px solid var(--color-primary);
    cursor: pointer;
  }

  &.left{
    div{
      height: 2px;
      width: 13px;
      border-radius: 2px;
      background: var(--color-primary);
      position: relative;
      &::before{
        position: absolute;
        content: "";
        height: 2px;
        width: 8px;
        left: 0;
        transform: translateY(3px) rotate(45deg);
        background: var(--color-primary);
      }
      &::after{
        position: absolute;
        content: "";
        height: 2px;
        width: 8px;
        left: 0;
        transform: translateY(-3px) rotate(-45deg);
        background: var(--color-primary);
      }
    }
  }
  
  &.right{
    div{
      height: 2px;
      width: 13px;
      border-radius: 2px;
      background: var(--color-primary);
      position: relative;
      &::before{
        position: absolute;
        content: "";
        height: 2px;
        width: 8px;
        right: 0;
        transform: translateY(3px) rotate(-45deg);
        background: var(--color-primary);
      }
      &::after{
        position: absolute;
        content: "";
        height: 2px;
        width: 8px;
        right: 0;
        transform: translateY(-3px) rotate(45deg);
        background: var(--color-primary);
      }
    }
  }
  
}