#section-why{
  padding-bottom: 200px;

  .heading{
    margin-bottom: 25px;
  }
  .subheading{
    margin-bottom: 60px;
  }
  
  .cards{
    .row{
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      padding-bottom: 25px;
    }

    .card{
      padding: 30px 28px;
      width: calc(100% / 10 * 3);
      min-height: 300px;
      border-radius: 7px;
      border: 1px solid var(--color-glass-light);
      box-shadow: 0 4px 4px 0 rgba(229, 229, 229, 0.25);
      &_header{
        @include font-regular;
        @include sizing-x;
        line-height: 28px;
        font-weight: 700;
        img{
          float: right;
        }
      }
      .divider{
        background-image: url('../../res/images/Line 2.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  }

}