#section-order{
  width: 100%;
  min-height: 850px;
  max-height: 1400px;
  height: 100vh;
  
  background-image: url(../../res/images/bg-main.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container{
    height: 100%;
    display: flex;
    align-items: center;
  }

  .text{
    width: calc(100% / 12 * 6);
    margin-right: $glob-grid-gap;
    .banner-main-text{
      @include font-regular;
      @include sizing-banner;
      color: var(--color-secondary);
      margin-bottom: 25px;
      .secondary{
        color: var(--color-primary-light);
      }
    }
    .banner-sub-text{
      @include font-regular;
      @include sizing-s;
      color: var(--color-secondary-light);
      margin-bottom: 45px;
    }
  }
  .image{
    width: calc(100% / 12 * 6);
    .img{
      margin-bottom: 36px;
      img{
        width: 100%;
      }
    }
    .dark-mode-switch{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      
      span{
        @include font-regular;
        @include sizing-sm;
        color: var(--color-black-white);
        padding-right: $glob-grid-gap;
      }
    }
  }

}