.footer{
  background: var(--color-primary-dark);
  .divider{
    width: 100%;
    height: 44px;
    background-image: url('../../res/images/divider.svg');
    background-repeat: repeat-x;
    background-size: contain;
    img{
      width: 100%;
    }
  }
  .content{
    padding-top: 20px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navigation{
    margin-left: calc(100% / 12 * 2);
    width: calc(100% / 12 * 6);
    flex-grow: 1;
    ul{
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        margin-right: 50px;
        &:last-child{
          margin-right: 0;
        }
        a{
          @include font-regular;
          @include sizing-sm;
          font-weight: 400;
          color: #fff;
        }
      }
    }
  }
}